.explorer .file-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  
  i {
    position: relative;
    
    &.ri::before {
      top: -6px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  
    &.icon-* {
      top: -7px;
      left: 3px
    }
    
  }
}
