@use "./base.scss";

td a.internal-link {
  display: inline-flex;
  align-items: center;
  
  .icon {
    flex-shrink: 0;
    margin-right: 0.25em;
  }
}
td a.internal {
  display: inline-flex;
  align-items: center;
}

td a.internal i {
  flex-shrink: 0;
  margin-right: 0.25em;
}
