@media (max-width: 800px) {
  .page {
    margin: 0px 0px;
    max-width: 100%;
  }
  
  .page > #quartz-body {
    grid-template-columns: 1fr; /* Single column */
    
    .sidebar.right {
      display: none;
    }
    .sidebar {
      padding-top: 2rem;
    }
    
    .sidebar.left:has(.explorer) {
      padding-bottom: 0;
    }
    
  }
  .page-title {
    font-size: 1rem;
  }
  .readermode {
    display: none;
  }
  
  table-container > table {
  // Remove min-width on mobile
    td {
      min-width: 0; !important
    }
  }
}
