@media all and ($mobile) {
  .page {
    margin: 0px 0px;
    max-width: 100%;
  }
  
  .page > #quartz-body {
    grid-template-columns: 1fr; /* Single column */
    
    .sidebar.right {
      display: none;
    }
    .sidebar {
      padding-top: 2rem;
    }
    
    .sidebar.left:has(.explorer) {
      padding-bottom: 0;
    }
    
  }
  .page-title {
    font-size: 2rem;
  }
  .readermode {
    display: none;
  }
  
  // Remove min-width on mobile 
  .table-container td, .table-container th {
    &:not(:first-child) {
      min-width: 0 !important;
    }
    &:first-child {
      min-width: 4rem;
    }
    padding: 0 0.4rem;
  }
  
  .table-container > table td:empty {
    padding-bottom: 6px;
  }

  blockquote {
    border-left: 2px solid var(--secondary);
    margin: 8px 0;
    padding-left: 8px;
  }
}
