// Page overrides
.page {
  // Expand page
  margin: 0 2%;
  
  > #quartz-body {
    grid-template-columns: 380px auto 280px;
  }
  
  .sidebar.right {
    padding-right: 0;
    
    // Force graph square
    .graph > .graph-outer {
      aspect-ratio: 1;
    }
    
    // Force backlinks on the right from being too small
    .backlinks {
      min-height: 20%;
    }
  }
}

// Dont break links everywhere
a.internal {
  overflow-wrap: normal;
}

// Add a bit of spacing between linebreaks
p > br {
  margin-bottom: 0.4rem;
}

// Table overrides
.table-container > table {
  // Remove Table indent
  margin: 0rem;
  padding: 0rem;
  //Expand table to size of centre container.
  max-width: 100%;

  td:first-child, th:first-child {
    padding-left: 0.5rem;
    min-width: 5rem;
  }
  
  // Increase padding, remove auto-hypenate text over lines
  td {
    hyphens: none;
    padding: .2rem 1.4rem;
    min-width: 4rem;
    font-size: 14px;
    :has(.transclude) {
      padding: 0;
    }
  }
  th {
    padding-left: 1rem;
  }
}

// Hide the Link Icon of headers if they are in transcludes as theyre broken
.transclude a.internal[role="anchor"] {
  visibility: hidden;
}

// Add colour to empty table rows to look more dividery
tbody {
  &> tr:not(:has(td:not(:empty))) {
    background-color: #202020;
    border-bottom: none;
    height: 0.75rem;
  }
  &> tr:has(+ tr:not(:has(td:not(:empty)))) {
    border-bottom: none;
  }
}

blockquote {

  h1 {
    display: none;
  }
}

table .transclude-src {
  display: none;
}
