// Page overrides
.page {
  // Expand page
  max-width: 90%;
  margin: 0 5%;
  
  > #quartz-body {
    grid-template-columns: 400px auto 320px;
  }
  
  .sidebar.left .page-title {
    padding: 0rem 1rem;
  }
}

// Table overrides

.table-container > table {
  // Remove Table indent
  margin: 0rem;
  padding: 0rem;
  //Expand table to size of centre container.
  width: 100%;
  
  // Increase padding, remove auto-hypenate text over lines
  td {
    hyphens: none;
    padding: .2rem 1rem;
  }
}

.flex-component {
  div:first-child {
    max-width: 14rem;
  }
  div {
    align-self: normal !important;
  }
}
